.nav-bar::before {
  background: none !important;
}

@media (min-width: 992px) {
  #header-carousel,
  .page-header {
    margin-top: -120px;
  }
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%; /* Adjust as needed */
  background-image: linear-gradient(to bottom, rgba(252, 252, 252, 0), rgba(255, 255, 255, 1)); /* Gradient from transparent to semi-transparent black */
  background-repeat: no-repeat;
  background-size: 100% 50%; /* Set the size of the gradient */
  background-position: bottom; /* Align the gradient to the bottom */
} 


.top {
  top: 0;
}

.bottom {
  bottom: 0;
}

.end {
  right: 0;
}

.right {
  left: 0;
}

.bg-a {
  background-color: rgba(0, 0, 0, 0.2);
}